.calculator {
  width: 200px;
  height: 500px;
  background-color: #241f1f;
  border-radius: 10px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  margin-left: 500px;
}
.buttons {
  /* width: 200px; */ /* height: 200px; */ /* margin: 0px 50px; */
  justify-content: space-between; /* padding: 250px 10px; */
  margin: 250px 10px;
}
.buttons button {
  width: 30px;
  height: 40px;
  margin: 5px;
  font-size: 17px;
  border-radius: 5px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 50px;
  background: #e8e8e8;
}
